<div class="container">
    <h2>Действующие великие дома:</h2>
    <hr>
    <h3>Шесть Королевств</h3>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Дом</th>
            <th scope="col">Герб</th>
            <th scope="col">Земли</th>
            <th scope="col">Замок</th>
            <th scope="col">Глава</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Ланнистеры</th>
            <td><img src="../assets/img/House-Lannister-Main-Shield.PNG.webp" alt=""></td>
            <td>Западные земли</td>
            <td>Утёс Кастерли</td>
            <td><img src="../assets/img/HandoftheKingTyrionLannister.PNG.webp" alt="">
                <a href="https://gameofthrones.fandom.com/ru/wiki/%D0%A2%D0%B8%D1%80%D0%B8%D0%BE%D0%BD_%D0%9B%D0%B0%D0%BD%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80">Тирион Ланнистер</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Баратеоны</th>
            <td><img src="../assets/img/House-Baratheon-Main-Shield.PNG.webp" alt=""></td>
            <td>Штормовые земли</td>
            <td>Штормовой предел</td>
            <td><img src="../assets/img/GendryBaratheon.webp" alt="">
                <a href="">Джендри Баратеон</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Талли</th>
            <td><img src="../assets/img/House-Tully-Main-Shield.PNG.webp" alt=""></td>
            <td>Речные земли</td>
            <td>Риверран</td>
            <td><img src="../assets/img/EdmureInfobox.PNG.webp" alt="">
                <a href="">Эдмур Талли</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Аррены</th>
            <td><img src="../assets/img/House-Arryn-Main-Shield.PNG.webp" alt=""></td>
            <td>Долина Аррен</td>
            <td>Орлиное Гнездо</td>
            <td><img src="../assets/img/RobinArryn.webp" alt="">
                <a href="">Робин Аррен</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Грейджои</th>
            <td><img src="../assets/img/House-Greyjoy-Main-Shield.PNG.webp" alt=""></td>
            <td>Железные острова</td>
            <td>Пайк</td>
            <td><img src="../assets/img/Game_of_thrones_6x5_yara_promo.webp" alt="">
                <a href="">Яра Грейджой</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Дом Бронна</th>
            <td><img src="../assets/img/Bronn-Main-Shield.webp" alt=""></td>
            <td>Простор</td>
            <td>Хайгарден</td>
            <td><img src="../assets/img/LordBronn.webp" alt="">
                <a href="">Бронн Черноводный</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Мартеллы</th>
            <td><img src="../assets/img/House-Martell-Main-Shield.PNG.webp" alt=""></td>
            <td>Дорн</td>
            <td>Солнечное Копьё</td>
            <td><img src="../assets/img/_%20_8x06.webp" alt="">
                <a href="">Принц Дорна</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h3>Королевство Севера</h3>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Дом</th>
            <th scope="col">Герб</th>
            <th scope="col">Земли</th>
            <th scope="col">Замок</th>
            <th scope="col">Глава</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Старки</th>
            <td><img src="../assets/img/House-Stark-Main-Shield.PNG.webp" alt=""></td>
            <td>Север</td>
            <td>Винтерфелл</td>
            <td><img src="../assets/img/_%20_%20_8x06.webp" alt="">
                <a href="https://gameofthrones.fandom.com/ru/wiki/%D0%A1%D0%B0%D0%BD%D1%81%D0%B0_%D0%A1%D1%82%D0%B0%D1%80%D0%BA">Санса Старк</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
