<div class="container">
    <h2>Сезон 1: Старки против Ланнистеров</h2>
    <hr>
    <img src="../assets/img/1s.jpg" alt="">
    <hr>
    <p>После смерти своего десницы (ближайшего помощника и советника) Джона Аррена король Роберт Баратеон отправляется
        на север: навестить своего старого друга Неда Старка и предложить ему освободившуюся должность. С королём
        путешествуют его жена, королева Серсея, и её брат-близнец Джейме, рыцарь Королевской гвардии. Бран, младший сын
        Неда, случайно застаёт их во время бурного секса, и Джейме, пытаясь сохранить их связь в тайне, выталкивает
        Брана из окна высокой башни.

        Нед принимает предложение Роберта и отправляется на юг в сопровождении двух дочерей, оставляя семейный замок на
        старшего сына и наследника Робба. Кейтилин, жена Неда, остаётся присматривать за Браном. Дома остаётся и Рикон,
        младший сын Неда. Бастард Неда Джон Сноу уезжает на Стену, чтобы присоединиться к Ночному Дозору.

        На жизнь Брана совершается покушение, но ручной лютоволк мальчика Лето убивает неудавшегося ассасина. Кейтилин
        спешит лично передать новость о нападении на Брана мужу. Прибыв в Королевскую Гавань, она встречает своего
        старого друга Питера Бейлиша, он же Мизинец, ныне мастер над монетой при дворе короля. Мизинец убеждает
        Кейтилин, что убийцу подослал младший брат королевы, карлик Тирион Ланнистер.

        Поговорив с мужем, Кейтилин возвращается домой и по пути натыкается на Тириона в придорожной таверне. Кейтилин
        похищает Тириона, чтобы доставить его в Винтерфелл на королевский суд, чем вызывает ярость родственников Тириона
        — брата Джейме и отца, могущественного лорда Тайвина. Тириону в итоге удаётся освободиться благодаря наёмнику
        Бронну, который выиграл для него суд поединком.</p>
    <hr>
    <img src="../assets/img/2s.jpg" alt="">
    <hr>
    <p>В столице Нед понимает, что настоящий отец всех детей королевы не король, а её брат-близнец Джейме. Движимый
        чувством чести, Нед сообщает о своём открытии королеве, чтобы дать ей время с достоинством покинуть город.
        Серсея пользуется отпущенным ей временем иначе — подстраивает гибель мужа на охоте, а затем обвиняет Неда в
        государственной измене.

        Главу дома Старков арестовывают. Королём становится Джоффри, жестокий и мстительный старший сын Серсеи. Взойдя
        на престол, он приказывает отрубить Неду голову вопреки воле матери и мольбам леди Сансы — старшей дочери Неда и
        предполагаемой невесты Джоффри. Младшая дочь Неда Арья бежит из столицы под видом мальчика в компании Джендри,
        бастарда короля Роберта, а Санса остаётся в заложницах у Серсеи.

        Узнав о смерти отца, Робб Старк созывает войска и выступает на юг. Ему удаётся нанести войскам Ланнистеров
        несколько поражений и захватить в плен Джейме. Знаменосцы провозглашают Робба Королём Севера. Оба младших брата
        Роберта также претендуют на корону и провозглашают себя истинными наследниками Железного трона. Жаждет короны и
        правитель Железных островов Бейлон Грейджой.</p>
    <hr>
    <img src="../assets/img/3s.jpg" alt="">
    <hr>
    <p>Тем временем за Узким морем выросли Визерис и Дейенерис Таргариены — последние представители дома Таргариенов,
        свергнутого с престола в результате восстания Роберта Баратеона почти двадцать лет назад. Пытаясь заполучить
        войска, чтобы вернуть себе отцовский престол, принц Визерис продаёт Дени в жены вождю кочевого племени
        дотракийцев кхалу Дрого. На свадьбе Дени получает в подарок три драконьих яйца. Со временем Дени привыкает к
        жизни у кхала, и между нею и Дрого зарождаются тёплые чувства. Но Дрого не спешит выполнять свою часть сделки и
        отдавать Визерису обещанные ему войска. Принц теряет терпение, оскорбляет Дрого, и взбешенный кхал казнит брата
        своей жены.</p>
    <p>Дейенерис не горюет по брату — куда больше её волнует беременность. Она должна родить своему мужу настоящего
        богатыря — жеребца, который покроет весь мир. Но мечтам Дени не суждено сбыться — она теряет и мужа, и ребёнка,
        и большую часть подданных. Лишившись всего, она собирает погребальный костёр для Дрого, кладёт туда драконьи
        яйца, виновную в смерти мужа и ребёнка ведьму (живую, к слову), а затем восходит на костёр сама. А потом
        Дейенерис выходит из огня, неопалённая и в окружении трёх только что вылупившихся дракончиков.</p>
    <h2>Сезон 2: Джон Сноу ничего не знает</h2>
    <hr>
    <img src="../assets/img/2s1s.jpg" alt="">
    <hr>
    <p>Пока Тайвин занят войной с северянами, Тирион приезжает в Королевскую Гавань в качестве исполняющего обязанности
        десницы и разворачивает на этом посту бурную деятельность. Он готовит столицу к войне и отправляет Мирцеллу,
        дочь Серсеи, в Дорн, чтобы добиться расположения дорнийцев и обезопасить девочку.

        На Севере Джон отправляется за Стену, чтобы разведать слухи об одичалых, собирающихся в армию. Он быстро (и
        нарочно, по совету Куорена Полурукого) попадает в плен и оказывается во власти яростной и отважной рыжеволосой
        дикарки Игритт. Чтобы завоевать доверие одичалых, Джон вынужден убить своего наставника Куорена.

        Теон Грейджой, воспитанник Неда Старка, возвращается домой на Железные острова, чтобы уговорить отца вступить в
        войну на стороне Робба. Но Бейлон Грейджой намерен воевать только на одной стороне — на своей. Подумав, Теон
        переходит на сторону отца. В попытке завоевать его доверие и признание Теон предаёт огню и мечу Винтерфелл, но
        двум младшим детям Старков удаётся сбежать. Русе Болтон, один из знаменосцев Робба, отправляет своего бастарда
        Рамси отнять Винтерфелл у Теона. Рамси это удаётся, и Теон попадает к нему в плен.</p>
    <hr>
    <img src="../assets/img/2s2s.jpg" alt="">
    <hr>
    <p>Два младших брата Роберта Баратеона выясняют, кто из них круче. Старший, Станнис, организует убийство младшего,
        Ренли. Затем Станнис собирает большой флот и идёт на Королевскую гавань. Тирион блестяще руководит обороной
        города, но почти проигрывает сражение. В последний момент появляется Тайвин со свежими силами, и битва остаётся
        за Ланнистерами. А вот политическая карьера Тириона идёт Псу под хвост — отец вернулся в столицу и вспомнил о
        своей неприязни к сыну-уродцу.

        Робб Старк тем временем заводит роман с лекаршей Талисой и этим нарушает обещание жениться на дочери лорда
        Уолдера Фрея, которое без его согласия дала его мать. Кейтилин отпускает Джейме из плена в обмен на обещание
        освободить её дочерей, которых, как полагает Кэт, держат в Королевской Гавани.</p>
    <h3>Сезон 3: Мать Драконов и Красная свадьба</h3>
    <hr>
    <img src="../assets/img/3s1s.jpg" alt="">
    <hr>
    <p>Дейенерис хочет купить армию Безупречных — евнухов-рабов, беспрекословно подчиняющихся хозяину. В обмен она
        предлагает одного из своих драконов, но, когда Безупречные переходят под контроль кхалиси, она приказывает им
        убить бывших владельцев и освободить всех рабов. Расправившись с рабовладельцами в Астапоре, Дени направляется в
        Юнкай, где держат в заточении ещё сотни тысяч рабов.

        Джон узнает, что одичалые бегут от наступающих с севера Белых Ходоков во главе с Королём Ночи. Он влюбляется в
        Игритт и проводит с ней ночь, но другие одичалые ему не доверяют. Джон вместе с Одичалыми перебирается через
        Стену. За стеной спутники пытаются убить Джона, но ему удаётся сбежать и добраться до Чёрного замка, обители
        Ночного Дозора.

        Красная жрица Мелисандра, советница Станниса, использует Джендри, чтобы с помощью его крови погубить трёх
        королей-самозванцев — Джоффри, Робба и Бейлона. Затем старый контрабандист Давос Сиворт освобождает Джендри и
        сажает в лодку.

        Робб вынужден признаться Фрею, что не выполнит данное его матерью обещание. Фрей обещает простить его, если один
        из родственников Робба женится на одной из девушек. Это обязательство берет на себя брат Кейтилин Эдмур. Но
        свадьба Эдмура и Рослин Фрей превращается в кровавую баню — люди Фрея и предателя Русе Болтона убивают Робба,
        его беременную жену Талису, Кейтилин и всех солдат Старков. В народе это торжество получает название «Красная
        свадьба».</p>
    <h3>Сезон 4: падение Тириона</h3>
    <hr>
    <img src="../assets/img/4s1s.jpg" alt="">
    <hr>
    <p>Джоффри отравлен на собственной свадьбе, в убийстве обвиняют Тириона. На трон восходит младший сын Серсеи Томмен.
        Суд над Тирионом превращается в фарс, и карлик требует суда поединком. Серсея выбирает своим бойцом сира Григора
        Клигана по прозвищу Гора, а сражаться за Тириона выходит дорнийский принц Оберин Мартелл. Он приехал в
        Королевскую гавань искать возмездия за гибель сестры и племянников, убитых Горой по приказу Тайвина.

        Оберин почти выигрывает бой, но его подводят надменность и самоуверенность, и умирающий Гора убивает его,
        размозжив голову. Тириона приговаривают к смерти. В последний момент Джейме освобождает Тириона из заточения,
        но, прежде чем сбежать, Тирион наведывается в покои своего отца и находит там свою бывшую содержанку Шаю,
        оклеветавшую его на суде. В ярости Тирион душит Шаю и выстрелом из арбалета убивает отца.

        Одичалые идут на штурм Чёрного замка, Джон участвует в защите. В битве погибают Пип и Гренн, лучшие друзья
        Джона, а также Игритт. Затем к Ночному Дозору на подмогу прибывает армия Станниса.

        Дейенерис решает остаться в Заливе Работорговцев и править освобождёнными рабами. Бран Старк получает видение:
        он должен отправиться за Стену и встретиться с Трёхглазым Вороном.

        Джендри всё гребёт.</p>

    <h3>Сезон 5: Рамси и воробьи</h3>
    <hr>
    <img src="../assets/img/5s1s.jpg" alt="">
    <hr>
    <p>Арья начинает учиться на убийцу (Безликую). Джейме и Бронн отправляются в Дорн выручать Мирцеллу. Им удаётся
        забрать девушку обратно, но на прощание Эллария Сэнд, возлюбленная Оберина, травит её, и Мирцелла умирает на
        руках у отца. Затем Эллария и её дочери, известные как Песчаные змейки, убивают владыку Дорна и его наследника и
        захватывают власть.

        Джона избирают лордом-командующим Ночного Дозора. Он пытается добиться мира с одичалыми и даёт им право прохода
        на земли Ночного Дозора — к неудовольствию чёрных братьев. В итоге разгневанные братья организуют заговор и
        убивают Джона.

        В Миэрине сторонники рабовладения, именующие себя Сынами Гарпии, начинают нападать на Безупречных. Дейенерис
        решает примириться с местными дворянами, став женой одного из них. Бежавший за Узкое море Тирион знакомится с
        Дейенерис и занимает место её советника. По рекомендации советников Дени заново открывает бойцовые ямы, но Сыны
        Гарпии врываются в амфитеатр и едва не убивают Дени. Её спасает дракон, который затем высаживает наездницу
        посреди чистого поля, где Дени берёт в плен кочевая орда дотракийцев.

        Мизинец выдаёт Сансу, старшую дочь Неда и наследницу Винтерфелла, за Рамси Болтона. Рамси грубо насилует жену в
        первую же ночь. Теон Грейджой, искалеченный в плену у Рамси, помогает Сансе сбежать.

        В Королевской Гавани Серсея пытается избавиться от жены Томмена Маргери (бывшей невесты Джоффри, бывшей невесты
        Ренли) и усиливает орден религиозных фанатиков — «воробьёв», но сама становится их жертвой. Её нагишом гонят по
        улицам.

        Станнис следует совету Мелисандры и приносит свою дочь Ширен в жертву Владыке Света в надежде, что это поможет
        ему отбить Винтерфелл у Рамси. Но это не помогает, армия Станниса разбегается, его жена кончает с собой. Станнис
        гибнет от руки Бриенны Тарт, бывшей телохранительницы его брата Ренли.

        Джендри всё гребёт.</p>
    <h3>Сезон 6: Битва Бастардов</h3>
    <hr>
    <img src="../assets/img/6s1s.jpg" alt="">
    <hr>
    <p>Красная жрица Мелисандра оживляет Джона Сноу, тот казнит предавших его братьев и покидает Ночной Дозор. На выходе
        из замка Джон встречает Сансу, и они начинают собирать армию, чтобы вернуть Винтерфелл. Войска Джона и Рамси
        сходятся в эпическом сражении — Битве Бастардов. Джон едва не проигрывает, но его спасает вовремя подошедшее
        подкрепление от Сансы и Мизинца. Санса скармливает Рамси его же псам.

        Дени попадает в плен к дотракийскому кхалу Моро. Дотракийцы хотят отправить Дени в «дом престарелых» к другим
        вдовам кхалов, но Дени сжигает всех кхалов, и остальные дотракийцы присягают ей на верность. Дени возвращается в
        Миэрин как раз вовремя, чтобы спалить подошедший к городу флот работорговцев. Затем она вместе со всей армией
        отплывает в Вестерос, где заключает союзы с Тиреллами, Мартеллами, Ярой и Теоном Грейджоями.

        Бран встречается с Трёхглазым Вороном и начинает учиться на нового Трёхглазого Ворона, путешествуя по прошлому
        Вестероса и узнавая важные для сюжета события. Но в процессе Бран выдаёт своё местоположение чудовищному Королю
        Ночи. Белые Ходоки убивают Трёхглазого Ворона, Детей Леса, лютоволка Лето и слугу Брана — Ходора.

        Серсея расправляется со всеми врагами одним махом — взрывает храм, в котором собрались религиозные фанатики во
        главе с Его Воробейшеством, Маргери с отцом и братом, а также дядя королевы Киван Ланнистер. Увидев взрыв,
        Томмен понимает, что его жена погибла по воле королевы-матери, и от горя бросается из окна.

        Джендри всё гребёт.</p>
    <h3>Сезон 7: роман Льда и Пламени</h3>
    <hr>
    <img src="../assets/img/7s1s.jpg" alt="">
    <hr>
    <p>Серсея по очереди расправляется с союзниками Дейенерис. Флот Эурона Грейджоя громит флот Яры, а сам Эурон убивает
        двоих Песчаных змеек. Серсея травит последнюю дочку Элларии Сэнд тем же ядом, от которого умерла Мирцелла, а
        саму Элларию оставляет заживо гнить в темнице. Войска Ланнистеров берут замок Тиреллов, но на обратном пути
        Дейенерис верхом на драконах сжигает войско живьём.

        Дейенерис приглашает Джона на Драконий камень. Джон ради спасения Севера от Короля Ночи преклоняет перед Дени
        колени, а затем тащит её в постель. Союз заключён. Давос, ставший советником Джона, находит в Королевской гавани
        Джендри и забирает с собой.

        Арья тайно расправляется со всеми представителями семьи Фреев, отомстив за убийство матери и брата на Красной
        свадьбе. Затем она возвращается в Винтерфелл и встречается с Сансой. Мизинец пытается поссорить сестёр Старк, но
        интрига не удаётся и оканчивается его же смертью.

        Джон пытается примирить Серсею и Дени, уверяя, что угроза из-за Стены важнее их соперничества, и отправляется на
        самоубийственную вылазку за Стену, чтобы привезти в столицу живого мертвеца. Вылазка оканчивается смертью пары
        второстепенных персонажей и одного из драконов Дени, но Серсея вроде бы убеждена и обещает отправить армию на
        помощь Северу. На деле же она рассчитывает, что Король Ночи ослабит армию Дейенерис, а остальных коварная
        властолюбивая красотка добьёт сама. Джейме, разочарованный поступками и планами сестры, уезжает на Север один.

        Верная своему слову Дени во главе армии Безупречных и дотракийцев тоже плывёт на север. Король Ночи верхом на
        оживлённом им драконе Дени уничтожает Стену, и армия Белых Ходоков марширует на Винтерфелл.</p>
    <hr>
    <img src="../assets/img/7s2s.jpg" alt="">
    <hr>
    <p>На этом начинается восьмой сезон. Войска Безупречных и дотракийцев входят в Винтерфелл. Армия Короля Ночи
        подступает. А Серсея подкупает наёмников из отряда Золотых мечей, чтобы они сражались на её стороне. Битва за
        королевства живых началась…</p>

</div>

