<div class="container">
    <div class="hero">
        <h3>Популярные герои:</h3>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <img src="../assets/img/JonSnowFinal.webp" alt="">
                    <p>Джон Сноу</p>
                </td>
                <td>
                    <img src="../assets/img/aria_stark.webp" alt="">
                    <p>Арья Старк</p>
                </td>
                <td>
                    <img src="../assets/img/sansa_stark.webp" alt="">
                    <p>Санса Старк</p>
                </td>
                <td>
                    <img src="../assets/img/bran_stark.webp" alt="">
                    <p>Бран Старк</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../assets/img/liana_stark.webp" alt="">
                    <p>Лианна Старк</p>
                </td>
                <td>
                    <img src="../assets/img/Eddard_Stark.webp" alt="">
                    <p>Эддард Старк</p>
                </td>
                <td>
                    <img src="../assets/img/Robb_Stark_main.webp" alt="">
                    <p>Робб Старк</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>