<div class="container">
    <div class="hero">
        <h3>Популярные герои:</h3>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <img src="../assets/img/cecrei.webp" alt="">
                    <p>Серсея Ланнистер</p>
                </td>
                <td>
                    <img src="../assets/img/karlic.webp" alt="">
                    <p>Тирион Ланнистер</p>
                </td>
                <td>
                    <img src="../assets/img/djeime.webp" alt="">
                    <p>Джейме Ланистер</p>
                </td>
                <td>
                    <img src="../assets/img/taivin.webp" alt="">
                    <p>Тайвин Ланнистер</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../assets/img/kligan.webp" alt="">
                    <p>Григор Клиган</p>
                </td>
                <td>
                    <img src="../assets/img/tommen%20bar.webp" alt="">
                    <p>Томмен Баратеон</p>
                </td>
                <td>
                    <img src="../assets/img/djofri.webp" alt="">
                    <p>Джоффри Баратеон</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>