<div class="container">
    <h2>Сезон 1: Старки против Ланнистеров</h2>
    <hr>
    <p>После смерти своего десницы (ближайшего помощника и советника) Джона Аррена король Роберт Баратеон отправляется
        на север: навестить своего старого друга Неда Старка и предложить ему освободившуюся должность. С королём
        путешествуют его жена, королева Серсея, и её брат-близнец Джейме, рыцарь Королевской гвардии. Бран, младший сын
        Неда, случайно застаёт их во время бурного секса, и Джейме, пытаясь сохранить их связь в тайне, выталкивает
        Брана из окна высокой башни.

        Нед принимает предложение Роберта и отправляется на юг в сопровождении двух дочерей, оставляя семейный замок на
        старшего сына и наследника Робба. Кейтилин, жена Неда, остаётся присматривать за Браном. Дома остаётся и Рикон,
        младший сын Неда. Бастард Неда Джон Сноу уезжает на Стену, чтобы присоединиться к Ночному Дозору.

        На жизнь Брана совершается покушение, но ручной лютоволк мальчика Лето убивает неудавшегося ассасина. Кейтилин
        спешит лично передать новость о нападении на Брана мужу. Прибыв в Королевскую Гавань, она встречает своего
        старого друга Питера Бейлиша, он же Мизинец, ныне мастер над монетой при дворе короля. Мизинец убеждает
        Кейтилин, что убийцу подослал младший брат королевы, карлик Тирион Ланнистер.

        Поговорив с мужем, Кейтилин возвращается домой и по пути натыкается на Тириона в придорожной таверне. Кейтилин
        похищает Тириона, чтобы доставить его в Винтерфелл на королевский суд, чем вызывает ярость родственников Тириона
        — брата Джейме и отца, могущественного лорда Тайвина. Тириону в итоге удаётся освободиться благодаря наёмнику
        Бронну, который выиграл для него суд поединком.</p>
    <p>В столице Нед понимает, что настоящий отец всех детей королевы не король, а её брат-близнец Джейме. Движимый
        чувством чести, Нед сообщает о своём открытии королеве, чтобы дать ей время с достоинством покинуть город.
        Серсея пользуется отпущенным ей временем иначе — подстраивает гибель мужа на охоте, а затем обвиняет Неда в
        государственной измене.

        Главу дома Старков арестовывают. Королём становится Джоффри, жестокий и мстительный старший сын Серсеи. Взойдя
        на престол, он приказывает отрубить Неду голову вопреки воле матери и мольбам леди Сансы — старшей дочери Неда и
        предполагаемой невесты Джоффри. Младшая дочь Неда Арья бежит из столицы под видом мальчика в компании Джендри,
        бастарда короля Роберта, а Санса остаётся в заложницах у Серсеи.

        Узнав о смерти отца, Робб Старк созывает войска и выступает на юг. Ему удаётся нанести войскам Ланнистеров
        несколько поражений и захватить в плен Джейме. Знаменосцы провозглашают Робба Королём Севера. Оба младших брата
        Роберта также претендуют на корону и провозглашают себя истинными наследниками Железного трона. Жаждет короны и
        правитель Железных островов Бейлон Грейджой.</p>
    <p>Тем временем за Узким морем выросли Визерис и Дейенерис Таргариены — последние представители дома Таргариенов,
        свергнутого с престола в результате восстания Роберта Баратеона почти двадцать лет назад. Пытаясь заполучить
        войска, чтобы вернуть себе отцовский престол, принц Визерис продаёт Дени в жены вождю кочевого племени
        дотракийцев кхалу Дрого. На свадьбе Дени получает в подарок три драконьих яйца. Со временем Дени привыкает к
        жизни у кхала, и между нею и Дрого зарождаются тёплые чувства. Но Дрого не спешит выполнять свою часть сделки и
        отдавать Визерису обещанные ему войска. Принц теряет терпение, оскорбляет Дрого, и взбешенный кхал казнит брата
        своей жены.</p>
    <p>Дейенерис не горюет по брату — куда больше её волнует беременность. Она должна родить своему мужу настоящего
        богатыря — жеребца, который покроет весь мир. Но мечтам Дени не суждено сбыться — она теряет и мужа, и ребёнка,
        и большую часть подданных. Лишившись всего, она собирает погребальный костёр для Дрого, кладёт туда драконьи
        яйца, виновную в смерти мужа и ребёнка ведьму (живую, к слову), а затем восходит на костёр сама. А потом
        Дейенерис выходит из огня, неопалённая и в окружении трёх только что вылупившихся дракончиков.</p>
    <h2>Сезон 2: Джон Сноу ничего не знает</h2>
    <hr>
    <p>Пока Тайвин занят войной с северянами, Тирион приезжает в Королевскую Гавань в качестве исполняющего обязанности
        десницы и разворачивает на этом посту бурную деятельность. Он готовит столицу к войне и отправляет Мирцеллу,
        дочь Серсеи, в Дорн, чтобы добиться расположения дорнийцев и обезопасить девочку.

        На Севере Джон отправляется за Стену, чтобы разведать слухи об одичалых, собирающихся в армию. Он быстро (и
        нарочно, по совету Куорена Полурукого) попадает в плен и оказывается во власти яростной и отважной рыжеволосой
        дикарки Игритт. Чтобы завоевать доверие одичалых, Джон вынужден убить своего наставника Куорена.

        Теон Грейджой, воспитанник Неда Старка, возвращается домой на Железные острова, чтобы уговорить отца вступить в
        войну на стороне Робба. Но Бейлон Грейджой намерен воевать только на одной стороне — на своей. Подумав, Теон
        переходит на сторону отца. В попытке завоевать его доверие и признание Теон предаёт огню и мечу Винтерфелл, но
        двум младшим детям Старков удаётся сбежать. Русе Болтон, один из знаменосцев Робба, отправляет своего бастарда
        Рамси отнять Винтерфелл у Теона. Рамси это удаётся, и Теон попадает к нему в плен.</p>
    <p>Два младших брата Роберта Баратеона выясняют, кто из них круче. Старший, Станнис, организует убийство младшего,
        Ренли. Затем Станнис собирает большой флот и идёт на Королевскую гавань. Тирион блестяще руководит обороной
        города, но почти проигрывает сражение. В последний момент появляется Тайвин со свежими силами, и битва остаётся
        за Ланнистерами. А вот политическая карьера Тириона идёт Псу под хвост — отец вернулся в столицу и вспомнил о
        своей неприязни к сыну-уродцу.

        Робб Старк тем временем заводит роман с лекаршей Талисой и этим нарушает обещание жениться на дочери лорда
        Уолдера Фрея, которое без его согласия дала его мать. Кейтилин отпускает Джейме из плена в обмен на обещание
        освободить её дочерей, которых, как полагает Кэт, держат в Королевской Гавани.</p>
    <h3>Сезон 3: Мать Драконов и Красная свадьба</h3>
    <hr>
    <p>Дейенерис хочет купить армию Безупречных — евнухов-рабов, беспрекословно подчиняющихся хозяину. В обмен она
        предлагает одного из своих драконов, но, когда Безупречные переходят под контроль кхалиси, она приказывает им
        убить бывших владельцев и освободить всех рабов. Расправившись с рабовладельцами в Астапоре, Дени направляется в
        Юнкай, где держат в заточении ещё сотни тысяч рабов.

        Джон узнает, что одичалые бегут от наступающих с севера Белых Ходоков во главе с Королём Ночи. Он влюбляется в
        Игритт и проводит с ней ночь, но другие одичалые ему не доверяют. Джон вместе с Одичалыми перебирается через
        Стену. За стеной спутники пытаются убить Джона, но ему удаётся сбежать и добраться до Чёрного замка, обители
        Ночного Дозора.

        Красная жрица Мелисандра, советница Станниса, использует Джендри, чтобы с помощью его крови погубить трёх
        королей-самозванцев — Джоффри, Робба и Бейлона. Затем старый контрабандист Давос Сиворт освобождает Джендри и
        сажает в лодку.

        Робб вынужден признаться Фрею, что не выполнит данное его матерью обещание. Фрей обещает простить его, если один
        из родственников Робба женится на одной из девушек. Это обязательство берет на себя брат Кейтилин Эдмур. Но
        свадьба Эдмура и Рослин Фрей превращается в кровавую баню — люди Фрея и предателя Русе Болтона убивают Робба,
        его беременную жену Талису, Кейтилин и всех солдат Старков. В народе это торжество получает название «Красная
        свадьба».</p>
</div>

