<div class="container">
    <div class="hero">
        <h3>Популярные герои:</h3>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <img src="../assets/img/melisa.webp" alt="">
                    <p>Мелисандра</p>
                </td>
                <td>
                    <img src="../assets/img/cem.webp" alt="">
                    <p>Сэмвелл Тарли</p>
                </td>
                <td>
                    <img src="../assets/img/pirogi.webp" alt="">
                    <p>Бриенна Тарт</p>
                </td>
                <td>
                    <img src="../assets/img/npc%20karlik.webp" alt="">
                    <p>Подрик Пейн</p>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>