<div class="container">
    <div class="hero">
        <h3>Популярные герои:</h3>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <img src="../assets/img/dana.webp" alt="">
                    <p>Дейнерис Таргариен</p>
                </td>
                <td>
                    <img src="../assets/img/JonSnowFinal.webp" alt="">
                    <p>Джон Сноу</p>
                </td>
                <td>
                    <img src="../assets/img/reigar.webp" alt="">
                    <p>Рейгар Таргариен</p>
                </td>
                <td>
                    <img src="../assets/img/karlic.webp" alt="">
                    <p>Тирион Ланнистер</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../assets/img/liana_stark.webp" alt="">
                    <p>Лианна Старк</p>
                </td>
                <td>
                    <img src="../assets/img/2.webp" alt="">
                    <p>Эйрис II Таргариен</p>
                </td>
                <td>
                    <img src="../assets/img/jorax%20m%20.webp" alt="">
                    <p>Джорах Мормонт</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>