<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="post">
                <h2><ThreadTitle></ThreadTitle></h2>
                <div class="post-date">
                    <p>Posted on February <date></date> by <author></author> · 63 Comments </p>
                </div>
                <img src="" alt="">
                <div class="text">
                    <p><text></text></p>
                </div>
            </div>
        </div>
        <div class="col"></div>
        <div class="col">
            <div class="line">
                <div class="ad">
                    <img src="/assets/img/con-iain-glen-side.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>